@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Webix Filemanager demo";
}
<style>
    body {
        font-family: Consolas, Tahoma, Arial;
        font-size: 16px;
        padding: 20px;
    }

    li {
        margin-bottom: 10px;
    }
    a {
        color: #44e;
        text-decoration: none;
    }

    .container {
      margin:0 auto;
      width: 100%-15px;      
      padding:0 15px;
    }

    .container .col {
        width: 50%-15px;
        padding:0 15px;
      /*background:lightblue;*/
    }

    .container .col p {
      /*padding: .25rem .75rem;*/
    }  

</style>

<div class="container">

    <h3>Kanban DHTMLx</h3>
    <ul>
        <li><a href="./Dhtmlx/Kanban">Default mode</a></li>
    </ul>
    
    <h3>Kanban Webix</h3>
    <ul>
        <li><a href="./Webix/Kanban">Default mode</a></li>
    </ul>

</div>


