@page
@{
    Layout = "_LayoutDhtmlx";
    ViewData["Title"] = "DHTMLX Kanban demo";
}

@section Headers
{
@*    <script src="//cdn.webix.com/pro/edge/kanban/kanban.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.webix.com/pro/edge/kanban/kanban.css">*@
}

<script>

</script>


<h1>TEST KANBAN DHTMLX</h1>